# --- For-Bot-Working --------- #
pyrogram==2.0.106
TgCrypto
pyromod==1.5

# --- For-Database ------------ #
motor==3.1.1  # Replaced pymongo with motor for async operations
dnspython

# --- For-Web-Response ------- #
aiohttp==3.8.5

# -- Advance-Format -- #
pyrofork

# --- Optional Utility Libraries --- #
#pymongo==4.7.0  # Optional, for synchronous MongoDB operations if needed
