# --- For-Bot-Working --------- #
pyrogram==2.0.106
TgCrypto==1.2.3
pyromod==1.5

# --- For-Database ------------ #
#pymongo==4.5.0
dnspython==2.3.0
motor==3.2.0  # Async driver for MongoDB

# --- For-Web-Response ------- #
aiohttp==3.8.5

# --- Advance-Format --- #
pyrofork==3.1.0
